* {
  margin: 0;
  padding: 0;
}

html,body{
	width: 100%;
	height: 100%;
	font-family: TsukuMinPr6-LB;
}

h2{
	font-family: TsukuMinPr6-D;
	color: #E4AD5B;
}

strong{
	font-family: TsukuMinPr6-D;
}

.top-slide-container{
	height: 100%;
	overflow: hidden;
}

.top-slide1.slideInDown{
	animation-delay: 0.3s;
	animation-duration: 0.7s;
	animation-timing-function: ease;
}

 .top-slide2.slideInUp{
	animation-delay: 0.7s;
	animation-duration: 0.7s;
	animation-timing-function: ease;
}

.top-slide3.slideInDown{
	animation-delay: 1.1s;
	animation-duration: 0.7s;
	animation-timing-function: ease;
}

.fadeIn{
	animation-delay: 2.2s;
	animation-duration: 0.8s;
	animation-timing-function: ease;
}

.top-slide{
	height: 100%;
}

.top-slide1{
	float: left;
	width: calc(100% / 3);
	height: 100%;
	background-image: url(../img/rena.jpg);
	background-position: 50%;
	background-size: cover;
	background-repeat: no-repeat;
}

.top-slide2{
	float: left;
	width: calc(100% / 3);
	height: 100%;
	background-image: url(../img/anna.jpg);
	background-position: 30%;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

.copy{
	width: 70%;
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}


.top-slide3{
	float: left;
	width: calc(100% / 3);
	height: 100%;
	background-image: url(../img/3.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.arrow{
	position: absolute;
	top: 90%;
	left: 45.5%;
}

.arrow img{
	width: 35%;
}


.contents-wrapper{
	width: 100%;
	height: 100%;

}

.contents1{
	margin-left:19%;
	padding-top:30%; 
}

.contents1 p{
	font-size: 8pt;
	margin-right:20%;
}

.contents2{
	margin-left:19%;
	padding-top:30%; 
}

.contents2 p{
	font-size: 8pt;
	margin-right:20%;
}


.contents3{
	margin-left: 19%;
	padding-top: 35%;
}

.title img{
	width: 40%;
}

.contents3-img img{
	width: 80%;
	margin-right: 3%;
	box-shadow: 2px 2px 4px gray;
}

.contents3-text{
	font-size: 8pt;
	width: 80%;
}

.price{
	font-size: 15pt;
}

.detail{
	margin-top:5%;
	font-size: 8pt;
	line-height: 1.3;

}

.contents4{
	margin-top: 35%;
}

.head{
	text-align: center;
	font-size: 8pt;
}

.foot{
	text-align: center;
	font-size: 13pt;
	line-height: 1.3;
	color: #E4AD5B;
}

.contents5{
	padding-top: 30%;
	padding-bottom: 10%;
}

.sponsor{
	margin-left: 8%;
	width: 85%;
	margin-bottom: 10%;
}

.endline{
	width: 10%;
	margin-left: 45%;
}


.scroll-lock{
	overflow: hidden;
}

.contents-hide{
	display: none;
}


@media screen and (min-width: 700px){

	h2{
		font-size: 30pt;
	}

	.copy img{
		width: 75%;
	}

	.contents-wrapper{
		width: 60%;
		margin-left: 20%;
	}

	.contents1{
	padding-top:30%; 
	}

	.contents1 p{
		font-size: 15pt;
	}

	.contents2 p{
		font-size: 15pt;
	}

	.contents3-img{
		margin-bottom: -5%;
	}

	.contents3-text{
		font-size: 15pt;
	}

	.detail{
		font-size: 15pt;
	}

	.price{
		font-size: 22pt;
	}

	.head{
		font-size: 15pt;
	}

	.foot{
		font-size: 20pt;
	}
}

